{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<script>
  (function() {
    function scrollAnimateTo(destination, duration, callback) {
      var $body = $('html, body'), bodyScrollTop = $body.scrollTop();
      if(bodyScrollTop === destination) { return; }
      $body.animate({ scrollTop: destination }, duration, callback);
    }
    window.scrollTopAnchor = function(anchor, callback) {
      scrollAnimateTo($(anchor).offset().top, 400, function() {
        window.history.replaceState(null, '', window.location.href.split('#')[0] + anchor);
        callback && callback();
      });
    }
  })();
  window.Lazyload.js('{{ _sources.jquery }}', function() {
    var $articleContent = $('.m-post, .m-page').find('.m-article-content'), $this;
    $articleContent.children('.highlight').each(function() {
      $this = $(this);
      $this.attr('data-lang', $this.find('code').attr('data-lang'));
    });

    $articleContent.children('h1, h2, h3, h4, h5, h6').each(function() {
      $this = $(this);
      $this.append($('<a class="anchor" aria-hidden="true"></a>').html('{%- include icon/link.svg -%}'));
    });
    $articleContent.on('click', '.anchor', function() {
      window.scrollTopAnchor('#' + $(this).parent().attr('id'));
    });

    (function($) {
      $.fn.snow = function(options) {
        var $flake = $('<div id="flake" />').css({
          'position': 'absolute',
          'top': '-50px'
        }).html('&#10052;'),
          documentHeight = $(document).height(),
          documentWidth = $(document).width(),
          defaults = {
            minSize: 10,
            maxSize: 20,
            newOn: 2000,
            flakeColor: "red"
          },
          options = $.extend({}, defaults, options);
        var interval = setInterval(function() {
          var startPositionLeft = Math.random() * documentWidth - 100,
            startOpacity = 0.5 + Math.random(),
            sizeFlake = options.minSize + Math.random() * options.maxSize,
            endPositionTop = documentHeight - 40,
            endPositionLeft = startPositionLeft - 100 + Math.random() * 200,
            durationFall = documentHeight * 10 + Math.random() * 5000;
          $flake.clone().appendTo('body').css({
            left: startPositionLeft,
            opacity: startOpacity,
            'font-size': sizeFlake,
            color: options.flakeColor
          }).animate({
            top: endPositionTop,
            left: endPositionLeft,
            opacity: 0.2
          }, durationFall, 'linear', function() {
            $(this).remove()
          });
        }, options.newOn);
      };
    })(jQuery);
    $.fn.snow({
      minSize: 5,
      maxSize: 50,
      newOn: 2000,
      flakeColor: 'red'
    }); 

  });
</script>